*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------HTML Element styling---------- */
html{
    font-size: 62.5%;
}
body{
    font-family: 'Glory', sans-serif;
}
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    /* font-weight: 500; */
}
/* ---------------Utility Classes------------------- */
.container{
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3.5rem;
}
.md-heading{
    font-size: 2.2rem;
}
.bg-dark{
    background-color: #263238;
}
.text-red{
    color:#e63946 ;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-grey{
    color: #555;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: #fff;
    border-radius: 10em;

}
.btn-secondary{
    border: 2px solid red;
    border-radius: 1.5em;
    background-color: #edeae1;
}
.btn-secondary:hover{
    background-color:#c2c0ba;
}
.btn-primary:hover{
    background: black;
    color: white;
}


/* -------------Header Styling---------- */
.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/header-image.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    padding: 1rem;
}
.navbar a{
    color: #f4f4f4;
}
.navbar a:hover{
    border-bottom: 1px solid #f4f4f4;
}
.navbar .logo{
    float: left;
}
.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}
.navbar a{
    padding-bottom: 0.3rem;
}
.navbar .nav-items{
    float: right;
}
.navbar::after{
    content: "";
    display: block;
    clear: both;

}
/* ---------Header Content desgning--------- */
.header-content{
    position: absolute;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
    text-transform: uppercase;
}
/* ---------Showcase section Styling--------  */
.showcase{
    background-color:#c2c0ba;
    padding: 10rem 0;
}
.row{
    height: 350px;
    /* border: 1px solid red; */
    background-color:#edeae1;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.356) ;
}
.row1{
    margin-bottom: 10rem;

}
.row1 .img-box,.row2 .text-box{
    float: right;
    width: 50%;
}
.row2 .img-box,.row1 .text-box{
    float: left;
    width: 50%;
}
.row .img-box{
    /* border: 1px solid black; */
    height: 100%;
}
.row .text-box{
    /* border: 1px solid green; */
    padding: 3rem;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
/* ----------Feature section styling--------- */
.features{
    background-color:#f7f3e7d7;
    padding: 10rem 0;
}
.box-wrapper{
    box-shadow: 5px 5px 20px 0px rgba(102, 102, 102, 0.521);
}
.box{
    width: 33.33333333333333%;
    float: left;
    /* border: 2px solid black; */
    padding: 2rem;
    text-align: center;

}
.box1,.box3{
    background-color: #263238;
    color: white;
    /* background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */

}
.box2{
    background: linear-gradient(25deg, #d64c7f 0%, #ee4758 50%);
    /* color: #f4f4f4; */

}
.box-wrapper::after{
    content: "";
    display: block;
    clear: both;
}
/* -------Footer Styling------- */
.footer{
    background-color: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}
.social-media-links i{
    margin: 2rem;
}
/* ----------------About Page Styling------------ */
.about{
    background-color:#f7f3e7d7;
    padding: 5rem 0;
}
/* .about-heading{
    border-bottom: 6px solid #e63946;
} */
.about-heading::after{
    content: '';
    display: block;
    border: 2px solid #e63946;
    width: 100%;
}
/* --------------About Wrapper---------- */
.about-wrapper{
    text-align: center;
    margin-top: 2rem;
}
.about-wrapper .left{
    float: left;
    width: 50%;
}
.about-wrapper .right{
    float: right;
    width: 50%;
}
.about-wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.about-wrapper li::before{
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}
/* ----------Counters Styling--------- */
.counts{
    margin-top: 3rem;
}
.count-items{
    float: left;
    text-align: center;
    width: 25%;
}
.counts::after{
    content: "";
    display: block;
    clear: both;
}
.count-items span{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}
.count-items p{
    font-weight: 700;
    color: #555;
    font-size: 1.8rem;
}
/* -------Banner Styling------- */
.contact-banner{
    background: linear-gradient(25deg, #d64c7f 0%, #ee4758 50%);
    border-radius: 3rem;
    color: #f4f4f4;
    padding: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
    margin-top: 3rem;

}
.contact-banner-left{
    width: 70%;
    float: left;
}
.contact-banner-right{
    width: 30%;
    float: right;
    text-align: right;
}
.contact-line{
    font-weight: 700;
    font-size: 1.7rem;
    margin-top: 1.6rem;
}
.btn-contact{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 2.4rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 0.3rem 2.5em;
    letter-spacing: 0.5rem;
    color: #f4f4f4;
    border-radius: 3rem;
}
.contact-banner::after{
    content: "";
    display: block;
    clear: both;
}
/* -----------Contact Page Styling----------- */
.contact-form{
    background-color:#f7f3e7d7;
    padding: 5rem 0;
}

.company-address{
    height: 720px;
    background-color: #fff;
    float: left;
    width: 49%;
    padding: 1rem;
}
.company-address i{
    display: inline-block;
    margin-right: 1rem;
}
.company-address h2{
    display: inline-block;
    text-transform: uppercase;
}
.form{
    height: 720px;
    background-color: #fff;
    float: right;
    width: 49%;
    font-size: 1.6rem;
    padding: 3rem;
}
.form-wrapper::after{
    content: "";
    display: block;
    clear: both;
}
.address-group{
    /* padding: 0.5rem; */
    margin-bottom: 3rem;
}
.company-address img{
    max-width: 90%;
    object-fit: cover;
    min-height: 40rem;
    
}
/* -----------------Form Styling----------------------- */
.form h1::after{
    content: "";
    display: block;
    border: 2px solid #e63946;
    width: 100%;
    

}
.form-wrapper label{
    display: block;
}
.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;

}
.form-wrapper .form .form-group{
    margin-bottom:1.2rem ;
}
.form-wrapper .form label::after{
    content: "*";
    color: #e63946;
}
.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}
.form-wrapper .form .form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
/* --------------Media Quiries------------------ */
@media (max-width:500px){
    html{
        font-size: 50%;
    }
    /* .navbar .nav-items, .navbar .logo{
        float: none;
        text-align: center;
    } */
    .row{
        height: auto;
    }
    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-banner-left,
    .contact-banner-right{
        float: none;
        text-align: center;
        width: 100%;
    }
    .count-items{
        float: none;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media (min-width:501px) and (max-width:1200px){
    html{
        font-size: 50%;
    }
    p{
        font-size: 1.rem;
    }
    .navbar .nav-items, .navbar .logo{
        float: none;
        text-align: center;
    }
    .row{
        height: auto;
    }
    .row .img-box,
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .features .box{
        float: none;
        width: 100%;
        text-align: center;
    }
    .contact-banner-left,
    .contact-banner-right{
        float: none;
        text-align: center;
        width: 100%;
    }
    .count-items{
        float: none;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
    }
    .form-wrapper .company-address{
        float: none;
        width: 100%;
        height: auto;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        float: none;
        width: 100%;
        height: auto;
    }
}
@media(orientation:landscape) and (max-height:500px){
    .header{
        height: 90vmax;
    }
}